body {
  background-color: #FAEAB1;
}

 hr {
  border-style: none;
  border-top-style: dotted;
  border-color: red;
  border-width: 5px;
  width: 3%;
 }

 h1{
color: #2192FF;

}

h3{ 

    color:  #66bfbf;
}
